body {
  font-family: "Poppins", sans-serif;
  max-width: 2550px;
}

.page {
  display: flex;
  flex-direction: row;
}

aside {
  width: 207px;
  background-color: #ffca05;
}

.bebas {
  font-family: "Bebas Neue", cursive;
}

.content {
  flex: 1;
  display: flex;
}

.content__left {
  width: 38%;
  background-color: #292934;
}

.content__right {
  width: 62%;
  background-color: #22222d;
}

.imgCV {
  height: 1120px;
  width: 890px;
}

.info__container {
  color: #fff;
  padding: 150px 260px 120px 150px;
}

.info__container--compact {
  color: #fff;
  padding: 150px 110px 90px 120px;
}

.info__title {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 90px;
  letter-spacing: 4px;
  text-align: left;
  position: relative;
  display: inline-block; /*?*/
}

.info__title:after {
  content: "";
  width: 40px;
  height: 5px;
  background-color: gold;
  display: block;
  margin-top: 10px;
  position: absolute;
  bottom: 10px;
  right: -50px;
}

.info__about {
  line-height: 1.6;
  font-size: 35px;
  letter-spacing: 2px;
  font-weight: 200;
  margin-top: 45px;
}
.info__form {
  margin-bottom: 60px;
}
.info__contact {
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0 20px 0;
}

.info__descr {
  font-size: 30px;
}

.inline__container {
  display: flex;
  justify-content: space-between;
}

.container__vertical {
  margin: 30px 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.icon {
  width: 80px;
  margin-bottom: 10px;
}

.info__hobbies {
  margin-top: 10px;
  font-size: 35px;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  height: 1120px;
  background-color: #fff;
}

.header__name {
  position: relative;
  margin: 60px 0 40px 140px;
  font-size: 160px;
  letter-spacing: 20px;
}

.header__name::after {
  content: "";
  width: 110px;
  height: 5px;
  background-color: #ffca05;
  display: block;
  position: absolute;
  bottom: -35px;
}

.header__prof {
  text-transform: uppercase;
  margin: 90px 0 0 145px;
  letter-spacing: 8px;
  font-size: 50px;
}

.education__container {
  display: flex;
  justify-content: space-between;
}
.education__column p {
  font-size: 35px;
  line-height: 0;
  margin: 65px 0 10px 0;
}

.info__subtitle--education {
  font-size: 42px;
  letter-spacing: 2px;
  margin: 45px 0 35px 0;
  text-transform: uppercase;
}

.info__experience {
  margin: 35px 0 50px 0;
}

.info__subtitle--experience {
  font-size: 45px;
  text-transform: capitalize;
  margin-bottom: 35px;
}

.inline__container--experience {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.info__border {
  border-radius: 10px;
  background-color: #ffca05;
  color: #22222d;
  width: 200px;
  padding: 15px 10px;
  font-size: 35px;
  text-align: center;
  margin-right: 15px;
}

.inline__container--experience p:last-child {
  margin-left: 10px;
  font-size: 35px;
}

.info__experience--text {
  font-size: 35px;
  line-height: 1.7;
  margin-bottom: 90px;
}

.inline__container--expertise {
  display: flex;
  justify-content: space-between;
}

.img__expertise {
  width: 150px;
  margin-right: 30px;
}
